@font-face {
    font-family: Montserrat;
    src: url('fonts/Montserrat/Montserrat-Medium.ttf');
}

html, body {
  font-family: 'Montserrat', sans-serif;
   background-color:#FBFCFC;
   color: #1C2833;
   height: 100%;
}

#form{
  background-color: #1C2833;
  color: white;
  columns: 100%;
}
#awamo {
  font-family: Montserrat;
    src: url('fonts/Montserrat/Montserrat-Medium.ttf');
  border-collapse: collapse;
  width: 100%;
}

#awamo td, #awamo th {
  padding: 8px;
}

#awamo tr:nth-child(even){background-color: #F5B7B1;}

#awamo tr:hover {background-color: #ddd;}

#awamo th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: #7D6608  ;
  background-color: #1C2833;
}
